[Desktop Entry]
Name=Dissent
GenericName=Discord Chat
Comment=A Discord client in Go and GTK4
Exec=dissent
Icon=so.libdb.Dissent
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Chat;
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
