[*.go]
indent_style = tab
indent_size = 4

[*.nix]
indent_style = tab
indent_size = 2

[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2
